@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,300;1,400;1,500;1,600&display=swap");

.slide_1 {
  background-image: url(../src/assets/slide-1.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
}
.contactbg {
  background-image: url(../src/assets/contact-bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
}
.slide_2 {
  background-image: url(../src/assets/slide-2.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 600px) {
  .slide_1 {
    background-image: url(../src/assets/slide-1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
  }
  .slide_2 {
    background-image: url(../src/assets/slide-2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
  }
  .small_accordian {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.22);
    transition: all 0.5s ease;
    padding: 15px;
    border-radius: 5px;
  }

  .accordianbg {
    background-image: none;
  }
}
@media screen and (max-width: 768px) {
  .call-number-section {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .accordian_header {
    transform: scale(1.12);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.22);
    transition: all 0.5s ease;
    padding: 20px 20px 20px 25px;
    border-radius: 5px;
  }

  .accordianbg {
    background-image: url(../src/assets/tabs-bg-1-1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
  }
}
.accordian {
  padding: 20px 20px 20px 25px;
  border-radius: 5px;
}
input[type="radio"] {
  accent-color: #f79468;
  mix-blend-mode: multiply;
  outline: 1px #f79468;
  outline-style: none;
}

.questionbg {
  background-image: url(../src/assets/bg-1-2.jpg);
}
.questions_bg {
  background-image: url(../src/assets/bg-2.jpg);
}
.testimonialbg {
  background-image: url(../src/assets/bg-3.jpg);
}
.cardimg {
  transition: 0.7s cubic-bezier(0.24, 0.71, 0.45, 0.71);
  will-change: transform;
}
.gallery_para {
  color: #fff;
  background-image: linear-gradient(to right, #5da204 0%, #5da204 100%);
  background-size: 0 7px;
  background-repeat: no-repeat;
  background-position: 0 calc(100% - 0.12em);
  transition: background-size 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
}
.gallery_para:hover {
  background-size: 100% 5px;
  color: #5da204;
}

.swiper {
  width: 100%;
  height: 100%;
  padding: 80px 0px !important;
}

.swiper-horizontal > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
  bottom: 0px !important;
  height: 8px !important;
}
.column_img {
  transition: 0.7s cubic-bezier(0.24, 0.71, 0.45, 0.71);
  will-change: transform;
}

.call-number-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #5da204;
  color: white;
  height: 100%;
  border-left: 48px solid #fff;
  border-top: 80px solid #83ca13;
  position: relative;
  overflow: hidden;
}

.call-number-section h5 {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 0;
  position: relative;
  top: -40px; /* Adjust as needed */
}

.responsive-diagonal {
  width: 20vw;
  background: rgb(255,255,255);
  background: linear-gradient(60deg, rgba(255,255,255,1) 25%, rgba(131,202,19,1) 25%);
}
